/* Basic Styling */

body{
  background-color: #C6C5C5;
}

.titleDiv{
  padding-top: 150px;
  height: 100vh;
}

.mainTitle {
display: block;

  }
.textColor{
  text-align: center;
  color: #C6C5C5;
}

.redText{
  color: #AA3939
}

.mainPanel{
  background-color: #AA3939;
  border-radius: 5px;
  width: 100%;
}
.ourButton {
  display: block;
  background-color: #AA3939;
  border-radius: 5px;
  width: 100%;
}

  .aboutDiv{
padding-top: 50px;
height: 100vh;
  }

  .signUpDiv{
padding-top: 200px;
height: 100vh;
  }

  .buttomButton{
text-align: right; 
background-color: #AA3939;
border-radius: 5px;
  }

/* Signup Modal */


#signupModal{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(19,19,19,0.8);
  top: 0;
  left: 0;
  display: none;
  position: fixed;      
  overflow:auto;
}

#breaksyncForm{
  position: absolute; 
  left: 30%;
  top: 17%;
  background-color: #C6C5C5;
  border: 2px black;
  border-radius: 10px;
  width: 40%;
  height: 60%;
  opacity: 100%;
  display: block;
}

#mcgillForm{
  position: absolute; 
  left: 30%;
  top: 17%;
  background-color: #C6C5C5;
  border: 2px black;
  border-radius: 10px;
  width: 40%;
  height: 60%;
  opacity: 100%;
  display: none;
}


/* Login Modal */
#loginModal{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(19,19,19,0.8);
  top: 0;
  left: 0;
  display: none;
  position: fixed;      
  overflow:auto;
}

#loginForm{
  position: absolute; 
  left: 30%;
  top: 17%;
  background-color: #C6C5C5;
  border: 2px black;
  border-radius: 10px;
  width: 40%;
  height: 60%;
  opacity: 100%;
}

div#mcgillCreds{
  font-size: 70%;
  opacity:0.9;
  padding-bottom: 10px;
}




